[submodule "contracts/moda-contracts/lib/forge-std"]
	path = contracts/moda-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/moda-contracts/lib/openzeppelin-contracts"]
	path = contracts/moda-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
