# =================================================================
# DEVELOPER CONFIG - Change these to match your organization values
# =================================================================
DEPLOYER_PRIVATE_KEY=SECRET
EVM_RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/<YOUR_API_KEY>

# Etherscan or Polygonscan API Key
ETHERSCAN_API_KEY=SECRET

# Change the catalog to your organization name.
CATALOG_NAME="DRIP"
# Once deployed add your Catalog address here.
CATALOG_ADDRESS=<0xCatalogAddress...>

# OpenReleases Contract (Optional & Recommended) - Organizations can deploy a common good Releases contract for artists and 
#   labels to release tracks without the need of deploying their own Releases contract.
OPEN_RELEASES_NAME="DRIP"
OPEN_RELEASES_SYMBOL="DRIP"
OPEN_RELEASES_ADMIN=<0xAdminWallet...>

# =================================================================
# DAO / Common Good Contact Values
# =================================================================
TREASURY_FEE=3000 # 3000 is 3%. All values are divided by 10_000 in contract logic.
TREASURY_ADDRESS=0x01...
# Change this to the address on your chain if you are deploying common good contracts. 
#   See: https://docs.splits.org/core/split#addresses

SPLIT_MAIN_ADDRESS=0x2ed6c4B5dA6378c7897AC67Ba9e43102Feb694EE # Mumbai

# =================================================================
=======
