# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*

# Docs
docs/

# Dotenv file
.env

# test coverage
coverage/
lcov.info

# slither
slither_report.md

# aderyn
report.md
