/* styles.css */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideOut 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideIn 300ms ease-out;
}

@keyframes slideOut {
  from {
    width: 0;
  }
  to {
    width: var(--radix-collapsible-content-width);
  }
}

@keyframes slideIn {
  from {
    width: var(--radix-collapsible-content-width);
  }
  to {
    width: 0;
  }
}