@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .anim-on-hover {
    animation-play-state: paused;
  }
  .anim-on-hover:hover {
    animation-play-state: running;
  }
}

@layer components {
  .outlined-text-lg {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
  }
  .outlined-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
  }
}


h1.release-text {
  color: white;
}

h1.release-text-sm {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

h1.landing-page__section-heading {
  font-size: 64px;
  font-weight: 800;
  line-height: 1;
  font-style: italic;
}

h3.landing-page__sub-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: italic;
  font-weight: 800;
}

.prose iframe {
  @apply max-w-none;
  @apply w-full;
  @apply h-auto;
  @apply aspect-video;
  @apply overflow-hidden;
}


